body{
    margin:0;
    background:#061a35;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    font-size:54px;
    font-weight:800;
    margin:20px 0;
}

.subtitulo{
    text-align:center;
    color:#c0c0c0;
    margin-bottom:20px;
}

.contenedor{
    width:95%;
    margin:auto;
}

.tarjeta{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0b274a;
    border:1px solid #1c4e89;
    border-radius:12px;
    margin-bottom:12px;
    padding:20px;
    min-height:130px;
}

.juego{
    width:25%;
    font-size:30px;
    font-weight:800;
}

.resultado{
    width:50%;
    text-align:center;
    font-size:38px;
    font-weight:800;
    color:white;
    letter-spacing:2px;
    line-height:1.5;
}

.complementario{
    color:#4CAF50;
    font-size:28px;
    font-weight:700;
}

.reintegro{
    color:#FF9800;
    font-size:28px;
    font-weight:700;
}

.bote{
    width:25%;
    text-align:right;
    color:#FFD700;
    font-size:40px;
    font-weight:900;
    text-shadow:0 0 10px rgba(255,215,0,0.5);
}

.euromillones{
    border:2px solid #d4af37;
}

.footer{
    text-align:center;
    color:#bdbdbd;
    font-size:16px;
    margin:20px 0;
}
